{% extends 'base.html' %}

{% block content %}
<section id="register" class="bg-light py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header bg-primary text-black text-center">
                  <h4>ثبت نام</h4>
                </div>
                <div class="card-body">

                  {% include 'partials/alerts.html' %}
                  <form action="{% url 'sign_up' %}" method="POST">
                    {% csrf_token %}
                    <br/>
                    {{ form.as_p }}

                    <input type="submit" value="ثبت نام" class="btn btn-secondary btn-block" />
                    <br/><br/>
                  </form>

                </div>
              </div>
              <br/><br/><br/><br/><br/><br/><br/>
            </div>
          </div>
        </div>
      </section>
{% endblock %}