{% extends "base.html" %}
{% block content %}

<header class="bg-white py-5" >
    <div class="container px-4 px-lg-5 my-5" >
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder text-black" style="color: black !important">درباره این سایت...</h1>
          <p class="lead fw-normal text-white-50 mb-0" style="color: black !important"> به سایت بلاگر خوش آمدید</p>
        </div>
    </div>
</header>
<div class = 'container'>
  <br/><br/><br/><br/>
   <p style="text-align: center !important ; ">  این یک وبسایت بلاگر است </p>
  <br/><br/><br/><br/>
<!--    <div class = 'row'>-->
<!--        <center>-->
<!--            <div>-->
<!--               <br/> <br/> <p style="text-align: center !important ; ">  این یک وبسایت بلاگر است </p> <br/> <br/>-->
<!--            </div>-->
<!--        </center>-->
<!--    </div>-->
</div>
{% endblock %}